@using WizWebComponents.Layout

<a href="@(href)" style="display: inline-block; height: fit-content; width: fit-content; text-decoration: none; color: aliceblue;" @attributes="SplatAttributes">
  <Card class="wiz-card wiz-button">
    <div style="@iconStyle"></div>
    @ChildContent
  </Card>
</a>